body {
	background-color: #222;
	color: #fff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	
	background-color: #444;
	padding: 10px;
}

nav {
	height: 50px;
	display: flex;
	justify-content: space-between;
	 align-items: center;
	/* justify-content:center;
	align-items: center; */
}

nav ul {
	margin-left: 40px !important;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}
nav .link:hover{
	padding: 10px;
	border-radius: 5px;
	background-color:#222 ;
}

main {
	padding: 20px;
}

h1 {
	margin-bottom: 20px;
	margin-top: 0;
	text-align: center;
	
}

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
    overflow-x: auto;
}

table th, table td {
	padding: 10px;
	text-align: left;
	white-space: nowrap;
}

table th {
	position: sticky;
	top: 0;
}


/* table tr:hover {
	background-color: #86399b;
} */
tbody {
    max-height: 400px;
    overflow-y: auto;
}
.scroll{
	max-width: 100%;
	max-height: 400px;
    overflow: auto;
}
button {
	background-color: #666;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
}

.report-btn {
	background-color: #2ecc71;
}

.delete-btn {
	background-color: #e74c3c;
}

.edit-btn {
	background-color: #3498db;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
  }
  .search{
	display: flex;
	justify-content: right;
	align-items: right;
  }
  .search-form {
	display: flex;
	margin-left: 20px;
  }
  .search-form input[type="text"] {
	padding: 5px;
  }
  
  .add-button {
	margin-left: 10px;
	padding: 10px 20px;
	background-color: #777;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  